# ---- ignore special files written during config setup

 core/app_store.yml
 core/install_location.yml
 core/interpreter_*.cfg
 core/pipeline_configuration.yml
 core/shotgun.yml
 core/roots.yml
 env/includes/paths.yml

 # compiled python files
 *.py[co]
 *.pyc
